{% extends "user_page_base.html" %}
{% from "macros.html" import datetime_without_millis %}

{% block title %}
Hírek
{% endblock %}

{% block content %}

{% if news_items %}
{% for news in news_items %}
<article id="news{{ news.id }}" >
    <header>
        <h1 id="news_title" >{{ news.title }}</h1>
    </header>
    <section>
        {% if news.picture %}
        <img id="news_img{{ news.id }}" src="{{ url_for('get_image', name=news.picture) }}" class="news_img">
        {% endif %}
        <p id="news_content" class="news_text" >{{ news.content|safe }}</p>
        <p id="news_date" style="text-align: right; clear: both;">{{ datetime_without_millis(news.event_happened) }}</p>
    </section>
    <footer>
        <hr>
    </footer>
</article>
{% endfor %}
{% endif %}

{% endblock %}
